# Node.js dependencies
/node_modules

# Build output
/build
/dist

# Environment variables
.env

# IDE and editor files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Testing files
/coverage

# Dependency lock files
/yarn.lock
/package-lock.json

# Compiled binary addons
/build/Release

# macOS specific files
.DS_Store

# Windows thumbnail cache files
/Thumbs.db
