@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0062ff;
  --primary-variant-color: #003aaf;
  --secondary-color: #ff5500;
  --on-primary: #f0f0f0;
  --on-background: #2b2b2b;
  --on-background-alt: rgba(43, 43, 43, 0.7);
  --background: #ebebeb;
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

[data-theme='light'] {
  --primary-color: #0062ff;
  --primary-variant-color: #003aaf;
  --secondary-color: #ff5500;
  --on-primary: #ffffff;
  --on-background: #2b2b2b;
  --background: #ebebeb;
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

[data-theme='dark'] {
  --primary-color: #6e00ce;
  --primary-variant-color: #2400a7;
  --secondary-color: #00c194;
  --on-primary: #d8d8d8;
  --on-background: #f5f5f5;
  --background: #1f1f1f;
}

body {
  background-color: var(--background);
  color: var(--on-background);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  right: 25px;
  top: 15px;
}

.theme-switch-wrapper span {
  font-size: 1rem;
  margin-right: 10px;
}

.toggle-text {
  position: relative;
  top: -4px;
  right: 5px;
  color: var(--on-background);
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border: 1px solid var(--on-background);
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 3px;
  background-color: var(--on-background);
  transition: 0.4s;
}

.slider::after {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 5px;
  font-size: 1rem;
  color: var(--on-background-alt);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
